*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
    
}



body{
    padding-bottom: 0;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #09bdd4;
    text-decoration: none;
}

#copy{
    background-color: #29292b;
}

#map-container{
    width: 100%;
    height: 240px;
    margin: 0 auto;
}

#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;

    height: 50px;
    width: 50px;
    color: #09bdd4;
    background: #29292b;
    border: none;
    border-radius: 50vh;
    display: none;
}

#btnsocial, #btnsocia,#btnsoci {
    display: flex;
    border-radius: 50%;
    margin-right: 5px;
}

#btnsocial{
    padding: 10px;
    background-color: rgb(31, 149, 245);
    color: #fff;
}
#btnsocia{
    padding: 10px;
    color: #fff;
    background: linear-gradient(29.61deg, #f38334 0%, #da2e7d 50.39%, #6b54c6 100%)
}

#btnsocia:hover, #btnsocial:hover, #btnsoci:hover{
    padding: 10px;
    opacity: 0.7;
    
}
#btnsoci{
    padding: 10px;
    color: rgb(245, 38, 38);
    background-color: #fff;
}

.fa-facebook-f:before{
    padding: 4px;
}
.fa-instagram::before{
    padding: 2px;
    
}

.navbar-brand img{
    width: 100px;
}

.navbar{
    background-color: rgba(41, 37, 3, 0.301);
}

.nav-item {
    font-size: 18px;
    font-weight: bold;  
}

.navbar-toggler{
    background-color: rgba(105, 105, 105, 0.486);
}

.carousel-inner{
    filter: brightness(58%);
}

.navbar{
    padding: 0 16px;
}

.navbar-brand{
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(250, 250, 250);
    transition: 200ms;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(31, 151, 250);
}

