*{
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    padding-bottom: 0;
}

a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #09bdd4;
    text-decoration: none;
}

#copy{
    background-color: #29292b;
}

#map-container{
    width: 100%;
    height: 240px;
    margin: 0 auto;
}

#btnTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    color: rgb(1, 189, 202);
    background-color: rgb(38, 38, 46);
    border: none;
    border-radius: 50vh;

}

#logonav{
    width: 100px;
}

#face i, #insta i, #yout i{
    color:rgba(1, 162, 255, 0.993);
    font-size: 20px;
}

.navbar-nav, .navbar-link{
    font-weight: bold;
    font-size: 20px;    
}

.fixed-top{
    background-color: rgba(1, 162, 255, 0.199);
    box-sizing: border-box;
    
}
